<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="/img/weather.png">
    <title>About us</title>
</head>
<body>
    <div class="main-content">
       {{>header}}
       <p>This site was created by Aabid Hasan. It Uses data from mapbox.com and darksky.net </p>
    <img class="portraint" src="/img/my_photo.jpg" alt="">
    </div>

   {{>footer}}
</body>
</html>